@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --text-color: #ffffff;
    --bg-url: url(./assets/bg-mobile.jpg);
    --stroker-color: rgba(255, 255, 255, 0.5);
    --surface-color: rgba(255, 255, 255, 0.1);
    --surface-color-hover: rgba(255, 255, 255, 0.05);
    --highlight-color: rgba(255, 255, 255, 0.2);
    --switch-bg-url: url(./assets/moon-stars.svg);
}

.light {
    --text-color: #000000;
    --bg-url: url(./assets/bg-mobile-light.jpg);
    --stroker-color: rgba(0, 0, 0, 0.5);
    --surface-color: rgba(0, 0, 0, 0.05);
    --surface-color-hover: rgba(0, 0, 0, 0.1);
    --highlight-color: rgba(0, 0, 0, 0.1);
    --switch-bg-url: url(./assets/sun.svg);
}

body {
    background: var(--bg-url) no-repeat top center/cover;
    height: 100vh;
}

body * {
    font-family: "Inter", sans-serif;
    color: var(--text-color);
}

#container {
    width: 100%;
    max-width: 588px;
    margin: auto;
    padding: 0px 24px;
}


/* PROFILE */
#profile {
    text-align: center;
    padding: 24px;
}

#profile img {
    width: 112px;   
}

#profile p {
    font-weight: 500;
    margin-top: 8px;
}

/* SWITCH */
#switch {
    width: 64px;
    position: relative;
    margin: 8px auto;
}


#switch button {
    width: 32px;
    height: 32px;
    background: white var(--switch-bg-url) no-repeat 
    center;
    border: 0;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 1;
    transform: translateY(-50%);
    cursor: pointer;
    animation: slide-back 0.2s;
}

.light #switch button {
    animation: slide-in 0.2s forwards;
}

#switch button:hover {
    outline: 8px solid var(--highlight-color);
}

#switch span {
    display: block;
    width: 64px;
    height: 24px;
    background: var(--surface-color);
    border: 1px solid var(--stroker-color);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 9999px;
}

/* LINKS */
.links {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.links li a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 24px;
    font-weight: 500;
    text-decoration: none;
    background: var(--surface-color);
    border: 1px solid var(--stroker-color);
    border-radius: 8px;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    transition: background 0.3s;

    &:hover {
        background: var(--surface-color-hover);
    }
}

#social-links {
    display: flex;
    justify-content: center;
    padding: 24px 0;
    font-size: 24px;

    & a {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 16px;
        border-radius: 50%;
        transition: background 0.3s;

        &:hover {
          background: var(--highlight-color);
        } 
    }
}

#footer-section {
    text-align: center;
    padding: 24px 0;
    font-size: 14px;
}

/* Media Queries */
@media (min-width: 700px) {
    :root {
        --bg-url: url(./assets/bg-desktop.jpg);
    }

    .light {
        --bg-url: url(./assets/bg-desktop-light.jpg);
    }
}

/* animações */
@keyframes slide-in {
    from {
        left: 0;
    }
    to {
        left: 50%;
    }
}

@keyframes slide-back {
    from {
        left: 50%;
    }
    to {
        left: 0;
    }
}